body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url('./sw-bg.jpg');
  background-attachment: fixed;
  background-size: cover;
}

.Header {
  text-align: center;
  background: black;
  width: 25%;
  margin: 0 auto;
  padding: 10px 0;
  border-radius: 2px;
  color: rgb(0, 204, 255) ;
}

.character-card {
  background: black;
  width: 50%;
  margin: 0 auto;
  color: yellow;
  border-radius: 2px;
}

.character-card h1 {
  text-align: center;
}

.character-card ul {
  align-self: flex-start;
  list-style-type: none;
}

.character-card ul li {
  padding-bottom: 10px;
}
